.productSection_portfolio_section {
  background-color: #ffffff;
  margin-bottom: 30px;
}

.productSection_title {
  font-size: 15px;
  font-weight: 700;
  margin-bottom: 16px;
  color: #092042;
  margin-top: -4px;
}

.productSection_grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 12px;
}

.productSection_card {
  background-color: #f5f7ff;
  padding: 11px;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.productSection_label {
  font-size: 10px;
  font-weight: 600;
  letter-spacing: 0.5px;
}

.productSection_value {
  font-size: 13px;
  font-weight: 700;
  color: #092042;
}

.productSection_subLayout {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.productSection_spanTwoRows {
  /* grid-row: span 2; */
  display: flex;
  flex-direction: column;
}

.productSection_othersCard {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.productSection_othersImage {
  width: 50px;
  height: auto;
  object-fit: contain;
}

.productSection_accentBlue .productSection_label { color: #3b82f6; }
.productSection_accentIndigo .productSection_label { color: #4f46e5; }
.productSection_accentOrange .productSection_label { color: #f97316; }
.productSection_accentYellow .productSection_label { color: #eab308; }
.productSection_accentPurple .productSection_label { color: #8b5cf6; }
